.drop-zone {
    min-height: 50px;
    background-color: #f8f9fa;
    border: 1px solid #6c757d;
}

.draggable {
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: move; /* Use 'grab' for a grabbing hand icon */
    margin-bottom: 4px; /* Space between draggable items */
}

/* Highlight drop zone on drag over */
.highlight {
    background-color: #9fcdff;
}